<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper footer-border"></div>
  
  <div class="wrapper">
    
    <h1 class="footer-heading">Contacts</h1>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <img src="resources/github.png" width="24" height="24"/>&nbsp;Repository @<a href="https://github.com/artraweditor/ART" target="_blank">GitHub</a>
      </div>

      <div class="footer-col footer-col-2">
        <img src="resources/comment-discussion.png" width="24" height="24"/>&nbsp;<a href="https://github.com/orgs/artraweditor/discussions" target="_blank">Discussion Board</a> @GitHub
      </div>

      <div class="footer-col footer-col-2">
        &nbsp;
      </div>
    </div>
    <div class="footer-license">
      Unless otherwise stated, this website and images are licensed
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA 4.0 License</a>.
    </div>
  </div>

</footer>
